<!DOCTYPE html>
<html>
  <head>
    <title> Credits </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Credits </h1>
    <p> Author: Vicente Bartual </p>
    <img src="images/selfie.jpeg" alt="Foto">
    <h2> Links </h2>
    <ul>
      <li> <a href="/"> Inicio </a></li>
      <li> <a href="/quizzes"> Lista de Quizzes </a></li>
    </ul>
  </body>
</html>
