<!DOCTYPE html>
<html>
  <head>
    <title> Lista de Quizzes </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Lista de Quizzes </h1>
    <ul>
        <% for (let quiz of quizzes) { %>
        <li> <%= quiz.question + ": " + quiz.answer + "\n"%> </li>
        <% } %>
    </ul>
  </body>
</html>
